<template>
    <div>
        {{this.notices}}
    </div>
</template>

<script>
    export default {
        name: "DataFromDB",
        data() {
            return {
                notices: null,
            }
        },
        watch: {

        },
        methods: {
            getNotices() {
                let params = {
                    page: 1,
                    page_block: 20,
                    keyword: "",
                }
                http
                    .post("/notice/", params)
                    .then((response) => {
                        this.notices = response.data.BODY;
                        console.log(this.notices);
                    })
                    .catch((error) => {
                        console.log(error);
                    });
            },
        },
        mounted() {
            this.getNotices();
        },
        beforeDestroy() {

        }
    }
</script>

<style scoped>

</style>