<script setup>
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://v3.vuejs.org/api/sfc-script-setup.html#sfc-script-setup
import HelloWorld from './components/HelloWorld.vue'
import WindowPortal from './components/WindowPortal.vue';
import DataFromDB from "./components/DataFromDB";

</script>

<template>
  <img class="m-auto" alt="Vue logo" src="./assets/logo.png" />
  <input type="checkbox" v-model="open" /> Check me to open a portal!
  <WindowPortal v-model="open">
    <HelloWorld :msg="'sfjksljf'" />
  </WindowPortal>
  <DataFromDB></DataFromDB>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
